/* Ajustes globais */

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

body {
    transition: background-color .3s ease, color .3s ease;
}

/* Cartões das postagens */
.bg-card {
    background-color: var(--bs-body-bg);
}
.text-card {
    color: var(--bs-body-color);
}

.card-img-top {
    height: 230px;
    object-fit: cover;
}


header {
    border-bottom: 2px solid rgba(255, 0, 0, 0.4);
}


footer {
    transition: background-color .3s ease, color .3s ease;
}

.footer-custom {
    background-color: var(--bs-dark);
    color: var(--bs-light);
    margin-top: auto;
}

.footer-custom h5 {
    font-weight: bold;
}

.footer-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.footer-icon {
    color: var(--bs-light);
    transition: 0.3s;
}

.footer-icon:hover {
    color: #ff3b3b;
    transform: scale(1.15);
}


[data-bs-theme="dark"] body {
    color: #e4e4e4;
}

[data-bs-theme="dark"] .card {
    background-color: #1a1a1a !important;
    color: #e4e4e4 !important;
}

[data-bs-theme="dark"] footer {
    background-color: #111 !important;
    color: #ddd !important;
}
